<!DOCTYPE root[<!ELEMENT Checkout ANY>
<!ATTLIST Checkout id ID #REQUIRED>
<!ELEMENT Basket ANY>
<!ATTLIST Basket id ID #REQUIRED>
<!ELEMENT Product ANY>
<!ATTLIST Product id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
 

]>
<root id="-1">
  <Home id="1057" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-10-21T07:40:20" updateDate="2014-10-21T08:01:40" nodeName="home" urlName="home" path="-1,1057" isDoc="" nodeType="1052" creatorName="Denford" writerName="Denford" writerID="0" template="1058" nodeTypeAlias="Home" isDraft="">
    <Product id="1064" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2014-10-21T07:55:40" updateDate="2014-10-21T07:55:40" nodeName="Product A" urlName="product-a" path="-1,1057,1064" isDoc="" nodeType="1054" creatorName="Denford" writerName="Denford" writerID="0" template="1059" nodeTypeAlias="Product">
      <pageHeading><![CDATA[Product A]]></pageHeading>
    </Product>
    <Product id="1065" parentID="1057" level="2" creatorID="0" sortOrder="1" createDate="2014-10-21T07:56:04" updateDate="2014-10-21T07:56:04" nodeName="Product B" urlName="product-b" path="-1,1057,1065" isDoc="" nodeType="1054" creatorName="Denford" writerName="Denford" writerID="0" template="1059" nodeTypeAlias="Product">
      <pageHeading><![CDATA[Product B]]></pageHeading>
    </Product>
    <Product id="1066" parentID="1057" level="2" creatorID="0" sortOrder="2" createDate="2014-10-21T07:56:39" updateDate="2014-10-21T07:56:39" nodeName="Product C" urlName="product-c" path="-1,1057,1066" isDoc="" nodeType="1054" creatorName="Denford" writerName="Denford" writerID="0" template="1059" nodeTypeAlias="Product">
      <pageHeading><![CDATA[Product C]]></pageHeading>
    </Product>
    <Product id="1067" parentID="1057" level="2" creatorID="0" sortOrder="3" createDate="2014-10-21T07:57:08" updateDate="2014-10-21T07:57:08" nodeName="Product D" urlName="product-d" path="-1,1057,1067" isDoc="" nodeType="1054" creatorName="Denford" writerName="Denford" writerID="0" template="1059" nodeTypeAlias="Product">
      <pageHeading><![CDATA[Product D]]></pageHeading>
    </Product>
    <Basket id="1068" parentID="1057" level="2" creatorID="0" sortOrder="4" createDate="2014-10-21T07:57:36" updateDate="2014-10-21T07:57:36" nodeName="Basket" urlName="basket" path="-1,1057,1068" isDoc="" nodeType="1055" creatorName="Denford" writerName="Denford" writerID="0" template="1060" nodeTypeAlias="Basket">
      <pageHeading><![CDATA[View Basket]]></pageHeading>
    </Basket>
    <Checkout id="1069" parentID="1057" level="2" creatorID="0" sortOrder="5" createDate="2014-10-21T07:58:04" updateDate="2014-10-21T07:58:04" nodeName="Checkout" urlName="checkout" path="-1,1057,1069" isDoc="" nodeType="1056" creatorName="Denford" writerName="Denford" writerID="0" template="1061" nodeTypeAlias="Checkout">
      <pageHeading><![CDATA[Checkout Page]]></pageHeading>
    </Checkout>
    <pageHeading><![CDATA[All Products]]></pageHeading>
  </Home>
</root>