<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Basket ANY>
<!ATTLIST Basket id ID #REQUIRED>
<!ELEMENT Checkout ANY>
<!ATTLIST Checkout id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT Product ANY>
<!ATTLIST Product id ID #REQUIRED>
<!ELEMENT ProductPriceItem ANY>
<!ATTLIST ProductPriceItem id ID #REQUIRED>
<!ELEMENT SiteDetails ANY>
<!ATTLIST SiteDetails id ID #REQUIRED>
<!ELEMENT SiteSettings ANY>
<!ATTLIST SiteSettings id ID #REQUIRED>
<!ELEMENT StoreExtraItem ANY>
<!ATTLIST StoreExtraItem id ID #REQUIRED>
<!ELEMENT StoreExtrasContainer ANY>
<!ATTLIST StoreExtrasContainer id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1057" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-10-21T07:40:20" updateDate="2015-06-17T19:30:28" nodeName="home MVC" urlName="home-mvc" path="-1,1057" isDoc="" nodeType="1052" creatorName="Denford" writerName="Denford" writerID="0" template="1058" nodeTypeAlias="Home">
    <pageHeading><![CDATA[Simplest Store Website]]></pageHeading>
    <pageText><![CDATA[<p>Welcome to the latest edition of the RDM Online family of websites. This sample site has been developed to show you the core elements of the Simplest Store package for Umbraco, available here.</p>
<p><strong>Please not this is not a complete E-Commerce solution for a shopping cart i.e. doesn't have any payment integration, stock management etc BUT it is a simple dynamic session based Cart/Basket logic class that can be used as a starting point to build a <strong>E-Commerc</strong>e solution specific to your site/client.</strong></p>
<p>The main aim for the package is to give you the core functionality of a session cart/basket and the ability to turn any Umbraco page into a product page by just adding a "Price" field to that page. The only other pages you will need are the basket page and checkout page and the logic to process your payment, "<em><strong>SIMPLES"</strong></em>.</p>
<p>I have also "thrown in" the ability to add optional and required extras to each product in case you need to add things like VAT and shipping, again simple Umbraco pages with a few settings on and a multi-node picker on the product to select these.</p>
<p>The MVC side of the site uses views, partial views, and the controllers as well as the "basketItem" class in models.</p>]]></pageText>
    <hideFromMenu>0</hideFromMenu>
    <Product id="1064" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2014-10-21T07:55:40" updateDate="2015-06-17T19:30:28" nodeName="Product A" urlName="product-a" path="-1,1057,1064" isDoc="" nodeType="1054" creatorName="Denford" writerName="Denford" writerID="0" template="1059" nodeTypeAlias="Product">
      <pageHeading><![CDATA[Product A]]></pageHeading>
      <pageText><![CDATA[<p>This product page has got one optional extra i.e. first class shipping and one none optional extra i.e. vat which is added automatically when this product is added to the basket.</p>]]></pageText>
      <hideFromMenu>0</hideFromMenu>
      <productPrice><![CDATA[15.50]]></productPrice>
      <productImage>1081</productImage>
      <productExtras><![CDATA[1078]]></productExtras>
      <priceExtras><![CDATA[1098]]></priceExtras>
    </Product>
    <Product id="1065" parentID="1057" level="2" creatorID="0" sortOrder="1" createDate="2014-10-21T07:56:04" updateDate="2015-06-18T19:32:40" nodeName="Product B" urlName="product-b" path="-1,1057,1065" isDoc="" nodeType="1054" creatorName="Denford" writerName="Denford" writerID="0" template="1059" nodeTypeAlias="Product">
      <pageHeading><![CDATA[Product B]]></pageHeading>
      <pageText><![CDATA[<p>This product page has got one none optional extra i.e. vat which is added automatically when this product is added to the basket.</p>]]></pageText>
      <hideFromMenu>0</hideFromMenu>
      <productPrice><![CDATA[9]]></productPrice>
      <productImage>1083</productImage>
      <productExtras><![CDATA[1077]]></productExtras>
      <priceExtras><![CDATA[1099]]></priceExtras>
    </Product>
    <Product id="1066" parentID="1057" level="2" creatorID="0" sortOrder="2" createDate="2014-10-21T07:56:39" updateDate="2015-06-22T07:35:06" nodeName="Product C" urlName="product-c" path="-1,1057,1066" isDoc="" nodeType="1054" creatorName="Denford" writerName="Denford" writerID="0" template="1059" nodeTypeAlias="Product">
      <pageHeading><![CDATA[Product C]]></pageHeading>
      <pageText><![CDATA[<p>This product page has got one optional extra i.e. first class shipping.</p>]]></pageText>
      <hideFromMenu>0</hideFromMenu>
      <productPrice><![CDATA[10.50]]></productPrice>
      <productImage>1082</productImage>
      <productExtras><![CDATA[1102]]></productExtras>
      <priceExtras><![CDATA[1100]]></priceExtras>
    </Product>
    <Product id="1067" parentID="1057" level="2" creatorID="0" sortOrder="3" createDate="2014-10-21T07:57:08" updateDate="2015-06-22T20:25:43" nodeName="Product D" urlName="product-d" path="-1,1057,1067" isDoc="" nodeType="1054" creatorName="Denford" writerName="Denford" writerID="0" template="1059" nodeTypeAlias="Product">
      <pageHeading><![CDATA[Product D]]></pageHeading>
      <pageText><![CDATA[<p>This product page has got no extra products set.</p>]]></pageText>
      <hideFromMenu>0</hideFromMenu>
      <productPrice><![CDATA[20]]></productPrice>
      <productExtras><![CDATA[1103]]></productExtras>
    </Product>
    <Basket id="1068" parentID="1057" level="2" creatorID="0" sortOrder="4" createDate="2014-10-21T07:57:36" updateDate="2015-06-17T19:30:28" nodeName="Basket" urlName="basket" path="-1,1057,1068" isDoc="" nodeType="1055" creatorName="Denford" writerName="Denford" writerID="0" template="1060" nodeTypeAlias="Basket">
      <pageHeading><![CDATA[View Basket]]></pageHeading>
      <pageText><![CDATA[<p>If you have any products in you basket you should be bale to see the list of them and the options you can use for each product or the whole basket like add and delete optional extras, remove main product lines or empty the whole basket.</p>]]></pageText>
      <hideFromMenu>0</hideFromMenu>
    </Basket>
    <Checkout id="1069" parentID="1057" level="2" creatorID="0" sortOrder="5" createDate="2014-10-21T07:58:04" updateDate="2015-06-17T19:30:28" nodeName="Checkout" urlName="checkout" path="-1,1057,1069" isDoc="" nodeType="1056" creatorName="Denford" writerName="Denford" writerID="0" template="1061" nodeTypeAlias="Checkout">
      <pageHeading><![CDATA[Checkout Page]]></pageHeading>
      <pageText><![CDATA[<p>The checkout page will summaries you basket and has got a dummy payment section where you can capture the card details and process the payment with your preferred payment method.</p>]]></pageText>
      <hideFromMenu>1</hideFromMenu>
    </Checkout>
  </Home>
  <SiteSettings id="1074" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2014-11-17T07:42:32" updateDate="2014-12-03T07:20:54" nodeName="Site General Settings" urlName="site-general-settings" path="-1,1074" isDoc="" nodeType="1070" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SiteSettings">
    <SiteDetails id="1075" parentID="1074" level="2" creatorID="0" sortOrder="0" createDate="2014-11-17T07:43:06" updateDate="2014-11-17T07:43:06" nodeName="Site Global Details" urlName="site-global-details" path="-1,1074,1075" isDoc="" nodeType="1071" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="SiteDetails" />
    <StoreExtrasContainer id="1076" parentID="1074" level="2" creatorID="0" sortOrder="1" createDate="2014-11-17T07:43:41" updateDate="2014-11-17T07:43:41" nodeName="Basket extras" urlName="basket-extras" path="-1,1074,1076" isDoc="" nodeType="1072" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="StoreExtrasContainer">
      <StoreExtraItem id="1077" parentID="1076" level="3" creatorID="0" sortOrder="0" createDate="2014-11-17T07:44:18" updateDate="2015-06-17T19:25:48" nodeName="Gift Wrapping" urlName="gift-wrapping" path="-1,1074,1076,1077" isDoc="" nodeType="1073" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="StoreExtraItem">
        <isOptionalExtra>1</isOptionalExtra>
        <price><![CDATA[5]]></price>
        <priceExtras><![CDATA[1100]]></priceExtras>
      </StoreExtraItem>
      <StoreExtraItem id="1078" parentID="1076" level="3" creatorID="0" sortOrder="1" createDate="2014-11-17T07:45:00" updateDate="2015-06-19T08:54:13" nodeName="First Class Shipping" urlName="first-class-shipping" path="-1,1074,1076,1078" isDoc="" nodeType="1073" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="StoreExtraItem">
        <isOptionalExtra>1</isOptionalExtra>
        <price><![CDATA[2]]></price>
        <priceExtras><![CDATA[1098]]></priceExtras>
      </StoreExtraItem>
      <StoreExtraItem id="1103" parentID="1076" level="3" creatorID="0" sortOrder="2" createDate="2015-06-22T20:24:12" updateDate="2015-06-22T20:24:39" nodeName="Second Class Postage" urlName="second-class-postage" path="-1,1074,1076,1103" isDoc="" nodeType="1073" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="StoreExtraItem">
        <isOptionalExtra>1</isOptionalExtra>
        <price><![CDATA[2]]></price>
      </StoreExtraItem>
      <StoreExtraItem id="1102" parentID="1076" level="3" creatorID="0" sortOrder="3" createDate="2015-06-22T07:34:05" updateDate="2015-06-22T20:24:39" nodeName="EU Added Vat" urlName="eu-added-vat" path="-1,1074,1076,1102" isDoc="" nodeType="1073" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="StoreExtraItem">
        <isOptionalExtra>1</isOptionalExtra>
        <pricePercentage><![CDATA[2]]></pricePercentage>
        <priceExtras><![CDATA[1099]]></priceExtras>
      </StoreExtraItem>
      <ProductPriceItem id="1098" parentID="1076" level="3" creatorID="0" sortOrder="4" createDate="2015-06-17T07:56:17" updateDate="2015-06-22T20:24:39" nodeName="Global Tax" urlName="global-tax" path="-1,1074,1076,1098" isDoc="" nodeType="1097" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="ProductPriceItem">
        <isDiscount>0</isDiscount>
        <priceValuePercentage><![CDATA[5]]></priceValuePercentage>
      </ProductPriceItem>
      <ProductPriceItem id="1099" parentID="1076" level="3" creatorID="0" sortOrder="5" createDate="2015-06-17T07:57:14" updateDate="2015-06-22T20:24:39" nodeName="Global Sale" urlName="global-sale" path="-1,1074,1076,1099" isDoc="" nodeType="1097" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="ProductPriceItem">
        <isDiscount>1</isDiscount>
        <priceValuePercentage><![CDATA[50]]></priceValuePercentage>
      </ProductPriceItem>
      <ProductPriceItem id="1100" parentID="1076" level="3" creatorID="0" sortOrder="6" createDate="2015-06-17T07:58:11" updateDate="2015-06-22T20:24:39" nodeName="Global Coupon" urlName="global-coupon" path="-1,1074,1076,1100" isDoc="" nodeType="1097" creatorName="Denford" writerName="Denford" writerID="0" template="0" nodeTypeAlias="ProductPriceItem">
        <isDiscount>1</isDiscount>
        <priceValue><![CDATA[1]]></priceValue>
      </ProductPriceItem>
    </StoreExtrasContainer>
  </SiteSettings>
</root>